<!-- <h1>Looking for something?</h1> -->
<div class='row'>
<% @posts.each do |post| %>
<div class='card'>
<h3><a href='/posts/<%=post.id%>'><%=post.title%></a></h3>
<p><%=post.body%></p>
</div>
<%end%>
</div>