<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
</head>

<body>
  <form action="/cohorts/<%= cohort.id %>">
    <label for="logoURL">Logo URL</label>
    <input type='text' name='logoURL' value='<%= cohort.logoURL%>' placeholder="e.g.example.com/some.png" />
    <label for="cohortName">Cohort Name</label>
    <input type='text' name='cohortName' value='<%= cohort.name%>' placeholder="e.g. Taco Lovers" />
    <label for="members">Members Separated By Commas</label>
    <input type='text' name='members' value='<%= cohort.members%>' placeholder="e.g.aladdin, jasmine, abu" />
    <input type="submit" value="Update Cohort" />
  </form>
</body>

</html>