    <nav>
        <h1 class='logo'>Super Team Picker</h1>
        <ul class='menu'>
            <li><a href='/cohorts'>Home</a></li>
            <li><a href='/cohorts'>Cohorts</a></li>
            <li><a href='/new'>New Cohort</a></li>
        </ul>
    </nav>